@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply rounded-full border-0 px-[40px] py-[8px] font-medium;
  }

  .btn-primary {
    @apply bg-primary text-white;
  }

  .btn-white {
    @apply bg-white text-primary;
  }

  .btn-green {
    @apply text-white bg-green-gradient;
  }

  .btn-blue {
    @apply text-white bg-blue-gradient;
  }

  .btn-yellow {
    @apply text-white bg-yellow-gradient;
  }

  .btn-purple {
    @apply text-white bg-purple-gradient;
  }
}

/* Sofia Font */
@font-face {
  font-family: "Sofia";
  src: url("/assets/fonts/Sofia\ Pro\ Black\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Black\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Bold\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ ExtraLight\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ ExtraLight\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Light\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Light\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Medium\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Medium\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Regular\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Regular\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ Semi\ Bold\ Italic\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ UltraLight\ Az.otf");
  src: url("/assets/fonts/Sofia\ Pro\ UltraLight\ Italic\ Az.otf");
}

* {
  font-family: "Sofia", sans-serif;
}

.link-hover {
  position: relative;
  color: #474747;
}

.link-hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #127682;
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.link-hover:hover {
  color: #127682;
}

/* --------------------------- Override antd styles --------------------------- */
/* Layout antd */
.ant-layout-sider {
  background-color: #127682 !important;
  margin: 1.5rem 0 1.5rem 1.5rem;
  border-radius: 25px;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
.ant-menu-dark .ant-menu-item-selected .anticon + span,
.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon {
  color: #f7ae28 !important;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content,
.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  color: #ffffff !important;
  font-size: 14px;
}

@media only screen and (max-width: 425px) {
  .ant-layout-sider {
    margin: 0.2rem 0 0.2rem 0.2rem;
    border-radius: 10px;
  }
}

/* Select antd */
.ant-select-dropdown {
  background-color: #e9ecf0 !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #dde1e0 !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #e9ecf0 !important;
  border: none !important;
  border-radius: 5px !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 43px !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 45px !important;
  color: #99a5b5;
}

/* Date picker */
.ant-picker {
  background-color: #e9ecf0 !important;
  border: none !important;
}

.ant-picker-focused {
  border-bottom: 2px #127682 solid !important;
  border-radius: 5px !important;
}

.ant-picker-input > input {
  line-height: 35px !important;
  color: #99a5b5 !important;
}

.ant-select-focused {
  outline: none !important;
  border-bottom: 2px #127682 solid !important;
  border-radius: 5px !important;
}
